/*Fonts*/
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Old+Standard+TT&display=swap");

/* Base Resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Custom styles */

:root {
    --off-white: #f2f2f2;
    --black: rgba(0,0,16,.8);
    --blue: #0365c0;
    --green: #00cc4f;
    --orange: #ffb144;
    --disabled: rgba(0,0,16,.3);
    --shadow: 0 0.5rem 1rem rgba(0, 0, 16, 0.19),
    0 0.3rem 0.3rem rgba(0, 0, 16, 0.23);;
}

/* General */

body, html {
    height: 100%;
    width: 100%;
    background: var(--off-white);
    color: var(--black);
    font-family: "Lato", sans-serif;
}

header {
    background: var(--blue);
    color: var(--off-white);
    padding: 1rem 2rem;
    font-size: 2rem;
    font-weight: bold;
}

/* Main container */
.container {
    padding: 1rem 2rem;
}

/* filters */
.card {
    display: flex;
    background: white;
    box-shadow: var(--shadow);
    grid-gap: 1rem;
    margin-bottom: 1rem;
}

.filters {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}